<div class="contacts-links">
  <ul class="contacts-links__list">
    <li class="contacts-links__item"><a class="contacts-links__value contacts-links__value--address" href="">6386 Spring St undefined Anchorage, Georgia 12473 United States</a></li>
    <li class="contacts-links__item"><a class="contacts-links__value contacts-links__value--phone" href="tel:+78435550130">(843) 555-0130</a></li>
    <li class="contacts-links__item"><a class="contacts-links__value contacts-links__value--email" href="mailto:willie.jennings@example.com">willie.jennings@example.com</a></li>
  </ul>
  <ul class="contacts-social">
    <li class="contacts-social__item"><a class="contacts-social__link contacts-social__link--twitter" href="#" aria-label="twitter"></a></li>
    <li class="contacts-social__item"><a class="contacts-social__link contacts-social__link--facebook" href="#" aria-label="facebook"></a></li>
    <li class="contacts-social__item"><a class="contacts-social__link contacts-social__link--linkedin" href="#" aria-label="linked in"></a></li>
  </ul>
</div>
