.card {
  display: flex;
  margin: 60px 0 80px;

  @include mobile {
    margin: 51px 0 96px;
  }

  &__photo {
    width: 50px;
    height: 50px;
    margin-right: 13px;

    border-radius: 50%;

    background-image: url("../img/photo@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/photo@2x.jpg");
    }

    @include mobile {
      width: 43px;
      height: 43px;

      background-image: url("../img/photo-mobile@1x.jpg");

      @include retina {
        background-image: url("../img/photo-mobile@2x.jpg");
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__intro {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 11px;

    color: $black-2;

    @include mobile {
      font-size: 10.1442px;
    }
  }

  &__position {
    font-weight: normal;
    font-size: 15px;

    color: $black-1;

    @include mobile {
      font-size: 12.6802px;
    }
  }
}
