.contacts-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 78px 41px 26px;
  margin-right: 65px;

  background: #FFFFFF;
  border: 0.65371px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 0 8.49823px 12.4205px rgba(0, 0, 0, 0.07);
  border-radius: 13.0742px;

  &__input,
  &__textarea {
    width: 100%;
    margin-bottom: 30px;
    padding: 12px;

    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    color: #18171D;

    font-size: 9.80565px;
    line-height: 10px;
    letter-spacing: 0.065371px;

    transition: opacity $transition-props;
    outline: none;

    &:hover {
      opacity: 0.7;
    }

    &:invalid {
      color: red;
      border: 1px solid red;

      &:focus {
        border-color: red;
      }
    }
  }

  &__textarea {
    border-radius: 0;
    height: 126px;
  }

  &__btn {
    width: 95px;
    height: 35px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;

    color: #FFFFFF;
    background: #EF2779;
  }
}
