.features {
  padding: 81px 286px;

  &__entry {
    margin: 0 0 17px;
  }

  &__list {
    @include list-reset;
    display: flex;
    padding-top: 100px;
  }

  &__item {
    margin-right: 52px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-of-type(1) {
      .features__title::before {
        background-image: url("../img/features-1.svg");
      }
    }

    &:nth-of-type(2) {
      .features__title::before {
        background-image: url("../img/features-2.svg");
      }
    }

    &:nth-of-type(3) {
      .features__title::before {
        background-image: url("../img/features-3.svg");
      }
    }
  }

  &__title {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1px;

    margin: 0 0 20px;
    padding-left: 52px;

    color: $black-1;

    &::before {
      position: absolute;
      top: 12px;
      left: 0;
      content: "";
      display: block;
      width: 43px;
      height: 43px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 0.2px;
    color: $black-2;

    margin: 0;
  }
}
