.intro {
  margin-top: -166px;
  padding-top: 175px;

  color: $white;
  background-image: url("../img/background@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include retina {
    background-image: url("../img/background@2x.png");
  }

  @include desktop {
    padding-top: 255px;
  }

  @include tablet {
    background-image: url("../img/background-mobile@1x.png");

    @include retina {
      background-image: url("../img/background-mobile@2x.png");
    }
  }

  @include mobile {
    padding-bottom: 35px;
  }

  &__wrap {
    position: relative;
    display: flex;

    @include desktop {
      flex-direction: column-reverse;
      align-items: center;
    }
  }


  &__text {
    margin: 172px 0 0 -45px;

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      order: 3;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;

    letter-spacing: 0.2px;

    max-width: 321px;
    margin: 0 0 27px;

    @include desktop {
      text-align: center;
      max-width: 100%;
    }

    @include tablet {
      font-weight: normal;
      font-size: 46px;
      line-height: 57px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;

    letter-spacing: 0.2px;

    max-width: 310px;
    margin: 0 0 70px;

    @include desktop {
      text-align: center;
    }
  }

  &__btn {
    position: absolute;
    background-color: $white;

    bottom: 280px;
    right: 338px;

    @include desktop {
      position: static;
      order: 2;

      background-color: $blue;
      color: $white;
    }

    @include mobile {
      order: 1;
    }
  }

  &__picture {
    @include desktop {
      align-self: flex-start;
      margin-top: -50px;

      order: 1;
    }

    @include mobile {
      margin: -43px 0 9px 0;
      order: 2;
    }
  }

  &__image {
    width: 911px;
    height: auto;
  }
}
