.prototyping {
  padding: 67px 0 133px;

  @include desktop {
    padding: 67px 90px 133px;
  }

  &__btn {
    color: $white;
    background-color: $blue;

    margin-top: 90px;
    margin-bottom: 114px;
  }

  &__image {
    width: 1033px;
    height: auto;
  }
}
