.testimonials {
  padding: 63px 0;

  &__btn {
    width: 280px;
  }

  &__image {
    width: 229px;
    height: 46px;

    margin-top: 63px;
    margin-bottom: 60px;
  }

  .section-subtitle {
    max-width: 683px;
  }
}
