.testimonials {
  padding: 63px 0;

  @include mobile {
    padding: 71px 0;
  }

  &__btn {
    width: 280px;
  }

  &__image {
    width: 229px;
    height: 46px;

    margin-top: 63px;
    margin-bottom: 60px;

    @include mobile {
      margin-top: 78px;
      margin-bottom: 54px;
    }
  }

  .section-subtitle {
    max-width: 683px;

    @include mobile {
      font-size: 13.5256px;
      line-height: 17px;

      max-width: 280px;
    }
  }
}
