.btn {
  @include button-reset;
  font-size: 22px;

  border-radius: 35px;
  transition: opacity $transition-props;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &--free {
    width: 236px;
    height: 65px;
  }

  &--blue {
    font-weight: bold;
    background-color: $blue;
    color: $white;
  }

  &--blue-reverse {
    font-weight: bold;
    background-color: $white;
    color: $blue;
  }
}
