.input {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;

  height: 54px;

  border-radius: 39px;
  border: 1px solid #E8E8E8;

  transition: opacity $transition-props;
  outline: none;

  &:hover {
    opacity: 0.7;
  }

  &::placeholder {
    font-size: 14px;
    height: 16px;
    letter-spacing: 0.1px;

    color: #18171D;
  }


  &.invalid {
    color: red;
    border: 1px solid red;

    &:focus {
      border-color: red;
    }
  }
}
